body {
  
    color: green;
    background-color: black;
    letter-spacing: 0.03em;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  button {
    border: none;
  }
  
  h1,h2,h3,h4,h5,h6,p {
    margin: 0;
  }
  
  a {
    list-style: none;
    text-decoration: none;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
 
