p{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0; 
}



.section-contacts{
    margin-left: auto;
    margin-right: auto;
    min-width:320px ;
 

    background-color:$second-section-color;
    & > .container{

    padding-left: 50px;
    padding-right: 50px; 
    @media screen and (min-width:$desktop) {
        padding-left: 115px;
        padding-right: 115px; 
    }
    
    }
    padding-bottom: 130px;
}




.section-contacts__item{ 
    background-color: white;
    padding: 43px 20px;
    border-radius: 24px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
   
    &:not(:last-child){
        margin-bottom:20px ;
    }
    &:last-child{
        margin-bottom: 54px;
    }
    @media screen and(min-width:320px){
        margin: 0 auto 0 auto;  
        
    }
    @media screen and (max-width:$tablet) {
        max-width: 220px;
        
    }
 
    @media screen and (min-width:$tablet) and (max-width:$desktop) {
        max-width: 220px;
        margin: 0 auto 0 auto;
        padding: 50px 31px;
        margin-top: -84px;
        &:last-child{
            margin-bottom: 0;
        }
        &:not(:last-child){
            margin-bottom:0px ;
            margin-right: 20px;
        }
    }
    @media screen and(min-width:$desktop){
         flex-basis: calc(100%/3);
         padding: 50px 43px 62px 43px;
         margin-top: -84px;
         &:last-child{
            margin-bottom: 0;
        }
        &:not(:last-child){
            margin-bottom:0px ;
            margin-right: 30px;
        }
    }

}
.section-contacts__cart-list{
    @media screen and (min-width: $tablet) {
        display: flex;
        margin-bottom: 81px;
    }
}
.section-contacts__place{
    background-color: yellow;
    width: 80px;
    height: 16px;
    text-align: center;
    margin-bottom: 25px;
    font-family:$font-primary ;
    color:white;
    text-transform: uppercase;
    border-radius: 4px;
    letter-spacing: 0.04em;
 
    &.one{
      background-color: $products-card-beige;  
    }
    &.two{
        background-color:$products-card-green;
        width: 130px;  
    }
    &.three{
        background-color:$products-card-beige;
    }
    @media screen and (min-width:$tablet){
        display: flex;
        width: 73px;
        height: 28px;
        line-height: 186%;
        justify-content: center;
        align-items: center;       
    }

}
.section-contacts__subtitle{
    font-family: $font-primary;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: black;
    @media screen and (min-width:$tablet){
      
        font-size: 14px;
        
    }
    @media screen and (min-width:$desktop){
        font-size: 16px;
        line-height: 183%;
    }
    
}
.section-contacts__text{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $primary-text-color;
    padding-bottom: 25px;
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 25px;
    @media screen and (min-width:$tablet){
        margin-bottom: 32px;
        font-size: 14px;
        
    }
    @media screen and (min-width:$desktop){
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 183%;
    }
}
.section-contact__time-information{
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: $primary-header-color;
    margin-bottom: 10px;
    @media screen and (min-width:$tablet){
        margin-bottom: 32px;
        font-size: 13.9px;
       
    }
    @media screen and (min-width:$desktop){
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 183%;
    }
}
.section-contacts__schedule{
    padding-bottom: 25px;
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 25px;
    @media screen and (min-width:$desktop){
        margin-bottom: 32px;
    }
}
.section-contacts__contact{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $primary-text-color; 
    @media screen and (min-width:$tablet) {
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }
    @media screen and (min-width:$desktop) {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        &:not(:last-child){
            margin-bottom: 10px;
        }
    }
   
}
.section-contact__btn{
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
width: 161.45px;
height: 44px;
border-radius: 22px;
    &.one{
        background: rgba(212, 19, 66, 1);
        color: white;
        margin-bottom: 10px;
        @media screen and(min-width:$tablet) {
            margin-right: 15px;
        }  
    }
    &.two{
        background:white;
        color: $accent-color;
    }
    @media screen and (min-width:$tablet) {
        width: 191.45px; 
    }

}
.section-contact__btn-list{
    text-align: center;
    @media screen and(min-width:$tablet) {
       display: flex; 
       justify-content: center;
    }
}
.btn-icon{
    width: 10px;
    height: 10px;
    margin-left: 13px;
    &.one{
        stroke: white;
        @media screen and (min-width:320px) and (max-width:$tablet){
        margin-left: 8px;  
        }
    }
    &.two{
        stroke:$accent-color;
    }
}