p{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0; 
}



.section-contacts{
    margin-left: auto;
    margin-right: auto;
    min-width:320px ;
    padding-bottom: 130px;

    background-color:$second-section-color;
    & > .container{
        padding-left: 50px;
        padding-right: 50px; 
        @media screen and (min-width:$desktop) {
            padding-left: 115px;
            padding-right: 115px; 
            }
        @media screen and (min-width:$desktop) {
            background-image: url(../images/sectionbg2.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            }
    } 
}

.section-contacts__item{ 
    background-color: white;
    padding: 43px 20px;
    border-radius: 24px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    
    
 
    &:not(:last-child){
        margin-bottom:20px ;
    }
    &:last-child{
        margin-bottom: 54px;
    }
    @media screen and(min-width:320px){
        margin: 0 auto 0 auto;  
        
    }
    @media screen and (max-width:$tablet) {
        max-width: 220px;
    
    }
 
    @media screen and (min-width:$tablet) and (max-width:$desktop) {
        max-width: 220px;
        margin: 0 auto 0 auto;
        padding: 50px 31px;
        margin-top: -78px;
        &:last-child{
            margin-bottom: 0;
        }
        &:not(:last-child){
            margin-bottom:0px ;
            margin-right: 20px;
        }
        &:hover{
            box-shadow: 0px 8px 30px rgba(144, 35, 62, 0.632);  
            cursor: pointer;
           }  
    }
    @media screen and(min-width:$desktop){
         flex-basis: calc(100%/3);
         padding: 50px 43px 62px 43px;
         margin-top: -102px;
         &:last-child{
            margin-bottom: 0;
        }
        &:not(:last-child){
            margin-bottom:0px ;
            margin-right: 30px;
        }
        &:hover{
            box-shadow: 0px 8px 30px rgba(144, 35, 62, 0.632);  
            cursor: pointer;
           }  
    }

}
.section-contacts__cart-list{
    @media screen and (max-width:$tablet) {
        display: flex;
        flex-direction: column;  
    }

    @media screen and (min-width: $tablet) {
        display: flex;
        margin-bottom: 81px;
    }
}
.section-contacts__item-minus{
    @media screen and (max-width:$tablet) {
        margin-top: -84px;
    } 
    }
  
.section-contacts__place{
    background-color: yellow;
    width: 80px;
    height: 16px;
    text-align: center;
    margin-bottom: 25px;
    font-family:$font-primary ;
    color:white;
    text-transform: uppercase;
    border-radius: 4px;
    letter-spacing: 0.04em;
 
    &.one{
      background-color: $products-card-beige;  
    }
    &.two{
        background-color:$products-card-green;
        width: 130px;  
    }
    &.three{
        background-color:$products-card-beige;
    }
    @media screen and (min-width:$tablet){
        display: flex;
        width: 73px;
        height: 28px;
        line-height: 186%;
        justify-content: center;
        align-items: center;       
    }

}
.section-contacts__subtitle{
    font-family: $font-primary;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: black;
    @media screen and (min-width:$tablet){
      
        font-size: 14px;
        
    }
    @media screen and (min-width:$desktop){
        font-size: 16px;
        line-height: 183%;
    }
    
}
.section-contacts__text{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $primary-text-color;
    padding-bottom: 25px;
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 25px;
    @media screen and (min-width:$tablet){
        margin-bottom: 32px;
        font-size: 14px;
        
    }
    @media screen and (min-width:$desktop){
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 183%;
    }
}
.section-contact__time-information{
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: $primary-header-color;
    margin-bottom: 10px;
    @media screen and (min-width:$tablet){
        margin-bottom: 32px;
        font-size: 13.9px;
       
    }
    @media screen and (min-width:$desktop){
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 183%;
    }
}
.section-contacts__schedule{
    padding-bottom: 25px;
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 25px;
    @media screen and (min-width:$desktop){
        margin-bottom: 32px;
    }
}
.section-contacts__contact{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    
    color: $primary-text-color; 
    @media screen and (min-width:$tablet) {
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }
    @media screen and (min-width:$desktop) {
        display: flex;
        flex-direction: column;
        font-size: 16px;
     
    }
    &:not(:last-child){
        margin-bottom: 10px;
    }
   
}
.section-contact__btn{
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
width: 161.45px;
height: 44px;
border-radius: 22px;
transition: linear all 250ms;
    &.one{
        background: rgba(212, 19, 66, 1);
        color: white;
        margin-bottom: 10px;
       
        @media screen and(min-width:$tablet) {
            margin-right: 15px;
            width:174px ;
            &:hover{
                transform: translateY(-10px);
            }
        }  
        @media screen and (min-width:$desktop) {
            width: 180px; 
            &:hover{
                transform: translateY(-10px);
            }
        }
    }
    &.two{
        background:white;
        color: $accent-color;
     
    }
    @media screen and (min-width:$tablet) {
        width: 191.45px; 
        &:hover{
            transform: translateY(-10px);
        }
    }
    @media screen and (min-width:$desktop) {
        width: 198px; 
        &:hover{
            transform: translateY(-10px);
        }
    }

}
.section-contact__btn-list{
    text-align: center;
    @media screen and(min-width:$tablet) {
       display: flex; 
       justify-content: center;
    }
}
.btn-icon{
    width: 10px;
    height: 10px;
    margin-left: 13px;
    &.one{
        stroke: white;
        @media screen and (min-width:320px) and (max-width:$tablet){
        margin-left: 8px;  
        }
    }
    &.two{
        stroke:$accent-color;
    }
}

// Modal
.backdrop {
    position: fixed;
    z-index: 99;
    visibility: visible;
  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 93px 15px;
    background-color: rgba(0, 0, 0, 0.2);
  
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    //   transform: scale(1);
  }
  .modal{
    position: relative;
    text-align: center;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    //   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    //   min-width: 530px;
    //   min-height: 580px;
    width: 450px;
    height: 610px;
    border: 3px solid  #FFB8CA;
    background-color: #fff;
    border-radius: 4px;
    padding: 40px;
  }
  .modal__close-btn{
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    

    width: 30px;
    height: 30px;

    border: 1px solid #FFB8CA;
    border-radius: 50%;
    background-color: #FFF;
    transition: all linear 250ms;
    &:hover{
        background-color: #FFB8CA;
    }
  }  
 .modal__icon-close{
     stroke: #FFB8CA;
     &:hover{
         stroke: white;
     }
 }
.modal__title {
    text-align: center;

    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.03em;
    color: #FFB8CA;
    margin-bottom: 12px;
  }
  .modal__map{
      display: flex;
      justify-content: center;
      border: 2px solid  #FFB8CA;
      border-radius: 4px;
      width: 370px;
      height: 408px;
      margin-bottom: 30px;
  }
  .modal_map-btn{
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    width: 200px;
    height: 44px;
    border-radius: 22px;
    background-color: #fff;
    border: 2px solid  #FFB8CA;
    color: #FFB8CA;
    transform: scale(1);
    transition: linear 250ms all;
    &:hover{
        transform: scale(1.25);
        background-color: #FFB8CA; 
      &>.modal_btn-text{
          color: white;
      }
    }
  }
  .modal_btn-text{
    color: #FFB8CA;
  }