$second-section-color: #FFF5F6;
$primary-header-color: #FFA5BA;
$accent-color: #D41443;
$primary-text-color: #907E82;

.footer {

    background-color: $second-section-color;
    // height: 300px;
    min-width: 320px;

    outline: 1px solid black;

    &__title{
        outline: 2px solid blue;

        text-align: left;
        font-family: $font-secondary;
        font-weight: 400;
        display: block;
        text-transform: uppercase;

        &--one {
            font-size: 18px;
            line-height: 1.167;
           
            color: $primary-header-color;
            margin-bottom: 17px;
            width: 232px;
        }
    
        &--two {
            font-size: 34px;
            line-height: 1.147;
            letter-spacing: 0.04em;
            color: $accent-color;
            width: 200px;
        }
    }
}

.text-box {
    outline: 1px solid orange;

    margin-bottom: 43px;
}

.social-box {
    outline: 1px solid cyan;

    margin-bottom: 46px;

    &__links {
        display: flex;
        justify-content: flex-end;
    }
     &__list {
        outline: 1px solid green;

        &:not(:first-child) {
            margin-left: 28px;
        }
    }
    &__link {
        width: 32px;
        height: 32px;
    }

    // Видалити
    &__icon-holder {
        width: 32px;
        height: 32px;
        background-color: $accent-color;
        border-radius: 50%;
    }
}

.contact-box {
    outline: 1px solid orange;

    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    text-align: right;

    &__phone {
        color: $accent-color;
    }
}

.copyright-box {
     outline: 1px solid red;
    &__text {
        color: $primary-text-color;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.52;
        text-align: center;

        outline: 1px solid blue;
    }
}
