.gallery-section {
    max-width: 2000px;
    height: 122px;
    padding: 48.5px 0 40px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        to bottom,
         #FFF5F6 80%,
         #E5E5E5 80%,
    );
}

.container {
    margin: 0 auto;

    @media screen and (min-width: 480px) {
    width: 480px;
    }    

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1280px) {
        width: 1280px;
    }
}
