.gallery-section {
    max-width: 2000px;
    margin-bottom: 20px;
    

        @media screen and (min-width: $mobile) {
            margin-bottom: 80px;
            height: 122px;
        }

        @media screen and (min-width: $tablet) {
            margin-bottom: 120px;
            height: 264px;
        }

        @media screen and (min-width: $desktop) {
            margin-bottom: 120px;
            height: 430px;
        }
}

