
.container--modicator{
    height: 502px;
    background-color: $header-base-color;
    position: relative;
    overflow: hidden;
    padding-top: 6px;
    border-bottom: 1px solid $background-mobile-menu;
    

    @media screen and (min-width: $tablet){
        padding-top: 37px;
        height: 399px;
        border: none; 
        overflow: visible;
    }

    @media screen and (min-width: $desktop) {
        height: 665px;
        
    }   
}

// .header-holder__link{
//     @media screen and (min-width: $desktop) {
//     margin-left: 46px;
//     }
// }

.header-holder{  
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 137px;

    @media screen and (min-width: $tablet){
        
        height: 50px;  
        margin-bottom:15px;
    }
    @media screen and (min-width: $desktop){
        align-items: center;
        margin-left: -70px;
        margin-bottom: 84px; 
    }
}

.menu-switch {
    display: flex;  
}

.buy{
    display: none;
    margin-right: 30px;
    z-index: 50;
    width: 160px;
    height: 44px;
    border-radius: 22px;
    
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;

    background-color: $button-white-color;
    color: $accent-color;

    &:hover,
    :focus {
        background-color:#ECEBEB;
    }

    @media screen and (min-width: $tablet){
        display: block;
    }

    @media screen and (min-width: $desktop){
     margin: auto;   
    }

    &__icon{
        margin-left: 21px;
        stroke: $accent-color;
    }

}
// Меню Навігації

.nav-tools {
    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    pointer-events: none;

    flex-direction: column;
    height: 60px;
    padding-top: 60px;
    
    height: 100vh;
    width: 250px;
    background-color: $background-mobile-menu;
    z-index: 50;
    transform: translateX(100%);

    @media screen and (min-width: $tablet){
        width: 254px;
    }  

    @media screen and (min-width: $desktop){
        position: static;
        transform: translateX(0);
        width: 541px;
        height: 50px;
        display: flex;
        flex-direction: row;
        pointer-events: visible;
        padding-top: 0;
        background: transparent;
    }    
}

.nav-tools.is-open {
    position: absolute;
    pointer-events: auto;
    transform: translateX(0);
    height: 1020px;
    z-index: 500;
    
}

.navigation__list {
    display: block;

    @media screen and (min-width: $desktop){
        display: flex;
        flex-direction: row;
        :not(:last-child) {
            margin-right: 35px;
        }  
    }  

    &--item {
        display: flex;
        align-items: center;
        height: 42px;
        padding-left: 21px;
        border: 1px solid #E18298;
        @media screen and (min-width: $tablet){
            padding-left: 24px;
        }
        @media screen and (min-width: $desktop){
            border: none;
            padding: 0;
        }
    }

    &--link {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.28;
        color: $button-white-color;
        cursor: pointer;
        &:hover,:focus {
            color: $accent-color;
        }
        
    }

    &--current{
        color: $accent-color;
    }
}

.burger{
    background-color: transparent;
    padding: 0;
    
    &__icon{
    fill: $accent-color;  
    stroke: $accent-color;  
    }

    @media screen and (min-width: $desktop){
        display: none;
    }
}

.nav-tools__button {
    width: 209px;
    height: 44px;
    
    background-color: $button-white-color;
    border-radius: 22px;
    
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 19px;

    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: $accent-color;

    &:hover,
    :focus {
      background-color:#ECEBEB;
    }

    @media screen and (min-width: $tablet){
        width: 186px;
    }

    @media screen and (min-width: $desktop){
        display: none;
    }

    
}

.icon-buy {
    margin-left: 27px;
    stroke: $accent-color;
    @media screen and (min-width: $tablet){
        margin-left: 21px;
    }
}

.nav-tools__close-button {
    background-color: transparent;
    padding: 0;
    @media screen and (min-width: $desktop){
       display: none;
    }
    &__icon{
    fill: $button-white-color;
    }
    

}

.js-close-menu {
    position: absolute;
    top: 23px;
    right:28px;
    background-color: transparent; 
    @media screen and (min-width: $tablet){
        right:34px;
    }
}

// Банер герой

.caption {
    position: relative;
    z-index: 5;
    @media screen and (min-width: $tablet){
        // position: static;
        margin-bottom: 66px;
        display: flex;
        justify-content: space-between;
    }

    @media screen and (min-width: $desktop){
        margin-left: 0;
        margin-bottom: 112px;
    }
    
    &__title {
        font-family: $font-secondary;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 30px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: $button-white-color;
        z-index: 10;
        margin-bottom: 19px;
        
        @media screen and (min-width: $tablet){
            font-size: 22px;
            line-height: 1.14;
        }
        @media screen and (min-width: $desktop){
            font-size: 38px;
            line-height: 1.16;
        }  
    }

    &__passion {
        color: $accent-color;
        font-size: 48px;
        line-height: 0.96;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        @media screen and (min-width: $tablet){
            font-size: 34px;
            line-height: 0.91;
        }
        @media screen and (min-width: $desktop){
            font-size: 58px;
            line-height: 0.91;
        }
    }    
}

.button-hold {
    display: flex;
}

.caption__button-one,
.caption__button-two{
    height: 24px;
    font-size: 8px;
    line-height: 1.25;
    border-radius: 20px;
    padding: 0 14px;
    margin: 0;
    cursor: pointer;
    @media screen and (min-width: $desktop){
        height: 40px;
        font-size: 14px;
        line-height: 1.28;
    } 
}

.caption__button-one {
    background-color: $accent-color;
    color: $button-white-color;
    margin-right: 10px;
    width: 62px;
    @media screen and (min-width: $desktop){
        width: 102px;
    }
    &:hover,
    :focus {
        background-color: #C7133E;
    }
}

.caption__button-two {
    background-color:$button-white-color ;
    color: $accent-color;
    width: 84px;
    @media screen and (min-width: $desktop){
        width: 138px;
    }
    &:hover,
    :focus {
        background-color: #ECEBEB;
    }
}

// Секція счетчика
.counter-sale {
    display: none;
    
    @media screen and (min-width: $tablet){
        display: block;
        height: 103px;
        text-align: center;
    }
    


    &__item {
        display: flex;
        flex-direction: column;
        align-items:center;
        width: 44px;
        height: 44px;
        margin-left: auto;
        margin-right: auto;
  
        font-family: $font-secondary;
        font-size: 28px;
        line-height: 1.15;
        color: $accent-color;
        
        @media screen and (min-width: $desktop){
            width: 76px;
            height: 77px;
            font-size: 46px;
            line-height: 1.15;
        }

        &:not(:last-child) {
            margin-bottom: 15px;
        }

        background-image: url(../images/hero-header/white_circle.png);
        background-size: 16px 16px;
        background-repeat:no-repeat;
        background-position: top right;
        @media screen and (min-width: $desktop){
        background-size: 30px 30px;
        }
    }

    .counter-sale__item--size {
        width: 51px;
        @media screen and (min-width: $desktop){
            width: 92px;
        }
    }

    .counter-sale__span {
        font-family: $font-primary;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        line-height: 1.25;
        color: $button-white-color;
        @media screen and (min-width: $desktop){
            font-size: 14px;
            line-height: 1.29; 
        }
    }    
}
// Картинки на герої

.icon-circle {
    position: absolute; 
    right: -62px;
    bottom: 75px;
    z-index: 0; 
    fill: $header-circle-color;

    @media screen and (min-width: $tablet){
        width: 324px;
        height: 322px;
        right: 137px;
        bottom: 46px;
    } 
    @media screen and (min-width: $desktop){
        width: 538px;
        height: 538px;
        right: 267px;
        bottom: 75px;
    } 
}

.hero__link--icecream {
    width: 171px;
    height: 410px;
    position: absolute; 
    right: 32px;
    bottom:0;
    z-index: 3;  
    cursor: pointer;
    display: block;

    @media screen and (min-width: $tablet){
        width: 143px;
        height: 336px;
        right: 247px;
    }

    @media screen and (min-width: $desktop){
        width: 236px;
        height: 557px;
        right: 450px;
        bottom:-16px;
    }
}

.hero__link--sootasty {
    display: none;
    position: absolute;
    width: 168px;
    height: 133px;
    right: 34px;
    bottom: 0;
    z-index: 3;
    cursor: pointer;

    @media screen and (min-width: $tablet){
        display: block;
    }

    @media screen and (min-width: $desktop){
        width: 293px;
        height: 232px;
        max-width: 100%;
    }
}

.big-eco {
    margin-left: 120px;
    width: 114px;
    height: 73px;
    font-size: 8px;
    line-height: 1.5;
    letter-spacing: 0;
    color: $button-white-color;
    display: none;
    position: relative;
    

    @media screen and (min-width: $tablet){
        display: block;
    }

    @media screen and (min-width: $desktop){
        width: 200px;
        height: 124px;
        margin-left: 180px;
        font-size: 14px;
        line-height:1.42
    }


    &__picture {
        width: 124px;
        height: 126px;
        position: absolute;
        top: -60px;
        left: -126px;

        @media screen and (min-width: $desktop){
            width: 188px;
            height: 191px;
            top: -70px;
            left: -200px;
        }
    }

    
}

.product {
    margin-left: 120px;
    width: 114px;
    height: 73px;
    font-size: 8px;
    line-height: 1.5;
    letter-spacing: 0;
    color: $button-white-color;
    display: none;
    position: relative;
    
}

.button-big-eco {
    margin-top: 7px;
    padding: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $button-white-color;
    
    @media screen and (min-width: $desktop){
        width: 26px;
        height: 26px;
    }

    &__icon {
        fill: $accent-color; 
        @media screen and (min-width: $desktop){
            width: 26px;
            height: 26px;
        }
    }   
}