// .container-reviews {
//   min-width: 320px;
//   max-width: 1280px;
//   margin-left: auto;
//   margin-right: auto;
//   padding-left: 15px;
//   padding-right: 15px;
//   margin-top: 100px;
// }
// .hide {
//   position: absolute;
//   clip: rect(0 0 0 0);
//   width: 1px;
//   height: 1px;
//   margin: -1px;
// }
.reviews {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  &__customer {
    max-width: 926px;
  }
  &__card {
    // max-width: 100%;
    text-align: center;
    // margin-right: auto;
  }
  &__img {
  }
  &__description-wrapper {
    max-width: 820px;
    position: relative;
    background-color: $background-reviews;
    z-index: -3;
    margin-left: auto;
    margin-right: auto;
  }
  &__description {
    font-family: $font-primary;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    text-align: center;
    color: $secondary-text-color;
    letter-spacing: 0.04em;
    // background-color: #fafafa;
    padding: 32px 50px;
    text-decoration: underline 1px solid $border-footer-color;
    text-underline-offset: 8px;
  }
  &__info {
    font-family: $font-primary;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 186%;
    text-align: center;
    color: $secondary-text-color;
    margin-top: 25px;
    margin-bottom: 50px;
  }
}
.reviews__description::before {
  position: absolute;
  content: "";
  background-image: url("../images/scobki.svg");
  background-size: 54px 40px;
  fill: $secondary-text-color;
  height: 54px;
  width: 60px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  top: 8px;
  left: 9px;
  z-index: -1;
}
.reviews__description::after {
  content: "";
  display: block;
  background-image: url("../images/group_dots.svg");
  background-size: 32px 4px;
  width: 32px;
  height: 4px;
  position: absolute;
  bottom: -20px;
  left: 48%;
}
.swiper-pagination {
  position: absolute;
  bottom: -50px;
}
// .swiper-pagination-bullet {
//   width: 15px;
//   height: 15px;
//   border-radius: 50%;
//   background-color: #d9d9d9;
//   // opacity: 0.5;
// }
.swiper-pagination-bullet-active::before {
  content: "";
  display: block;
  background-image: url("../images/domik.svg");
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  background-color: $button-white-color;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 15px);
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $markers-reviews-color;
  // opacity: 0.5;
}
