.swiper {
  width: 600px;
  height: 300px;
  text-align: center;
}

.swiper-slide-l {
  background-color: rgb(196, 71, 71);
}
.swiper-slide-m {
  background-color: rgb(196, 194, 71);
}
.swiper-slide-s {
  background-color: rgb(71, 196, 179);
}
