<section class="section-about">
    <div class="container">
        <p class="section-about__lable">TRADITION AND LOVE</p>
        <h2 class="section-about__title">HOW IT'S MADE</h2>
        <!-- <img class="section-about__image" srcset="./images/home-pic.png 1x, ./images/home-pic@2x.png 2x" src="./images/home-pic.png" alt="bio-eco" width="280" height="279"/> -->
        <div class="section-about__main">    
        <div class="section-about__image-desktop">        
        <picture>
            <source
                media="(max-width:767px)"
                srcset="./images/home-pic480.png 1x, ./images/home-pic480@2x.png 2x"
            />
            <source
                media="(min-width:768px)"
                srcset="./images/home-pic768.png 1x, ./images/home-pic768@2x.png 2x"
            />
            <source
                media="(min-width:1280px)"
                srcset="./images/home-pic1280.png 1x, ./images/home-pic1280@2x.png 2x"
            />
            <img class="section-about__image" src="./images/home-pic.png" alt="bio-eco"/>
        </picture>
        </div>
        
        <div class="section-about__content">
            <p class="section-about__text-main">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
            <p class="section-about__text-simple">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
            <p class="section-about__text-additional">Aliquam erat volutpat. Aenean accumsan.</p>            
            
            <button class="section-about__button" type="button" data-modal-open>Read more 
                <svg class="section-about__icon" width="8" height="10">
                    <use href="./images/sprite.svg#icon-Vector-1"></use>
                </svg>
            </button>
        </div>
        </div>
        <div class="section-about__background-milk">   </div>
    </div>
</section>