<section class="section-contacts">
    <div class="container">
        <h2 class="section-contacts__title hidden">Наши представительства</h2>
        <ul class="section-contacts__cart-list">
            <li class="section-contacts__item section-contacts__item-minus">
               <div class="section-contacts__text">
                    <p class="section-contacts__place one">cafe</p>
                    <h2 class="section-contacts__subtitle">Chicago</h2>
                    <p >Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
               </div>
               <div class="section-contacts__schedule">
                   <h2 class="section-contacts__subtitle">Monday - Friday</h2>
                   <span class="section-contact__time-information">06:00 AM - 10:00 PM</span>
                   <h2 class="section-contacts__subtitle">Saturday - Sunday</h2>
                   <span class="section-contact__time-information">08:00 AM - 16:00 PM</span>
               </div>
               <div class="section-contacts__contacts">
                   <a href="tel:+61038766284" class="section-contacts__contact">+61(0) 383 766 284</a>
                   <a href="mailto:noreply@envato.com" class="section-contacts__contact">noreply@envato.com</a>
               </div>

            </li>
            <li class="section-contacts__item">
                <div class="section-contacts__text">
                     <p class="section-contacts__place two">FOODTRUCK</p>
                     <h2 class="section-contacts__subtitle">Los Angeles</h2>
                     <p >Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="section-contacts__schedule">
                    <h2 class="section-contacts__subtitle">Monday - Friday</h2>
                    <span class="section-contact__time-information">06:00 AM - 10:00 PM</span>
                    <h2 class="section-contacts__subtitle">Saturday - Sunday</h2>
                    <span class="section-contact__time-information">08:00 AM - 16:00 PM</span>
                </div>
                <div class="section-contacts__contacts">
                    <a href="tel:+61038766284" class="section-contacts__contact">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="section-contacts__contact">noreply@envato.com</a>
                </div>
 
             </li>
             <li class="section-contacts__item">
                <div class="section-contacts__text">
                     <p class="section-contacts__place three">cafe</p>
                     <h2 class="section-contacts__subtitle">New York</h2>
                     <p >Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="section-contacts__schedule">
                    <h2 class="section-contacts__subtitle">Monday - Friday</h2>
                    <span class="section-contact__time-information">06:00 AM - 10:00 PM</span>
                    <h2 class="section-contacts__subtitle">Saturday - Sunday</h2>
                    <span class="section-contact__time-information">08:00 AM - 16:00 PM</span>
                </div>
                <div class="section-contacts__contacts">
                    <a href="tel:+61038766284" class="section-contacts__contact">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="section-contacts__contact">noreply@envato.com</a>
                </div>
             </li>
        </ul>
        <ul class="section-contact__btn-list">
            <li >
                <button class="section-contact__btn one" data-modal-open-s>Our Locations 
                    <svg class="btn-icon one">
                        <use href="./images/sprite.svg#icon-Vector-1" ></use>
                    </svg>
                 </button>               
            </li>
            <li>
                <button class="section-contact__btn two">Franchise
                    <svg class="btn-icon two">
                        <use href="./images/sprite.svg#icon-Vector-1"></use>
                    </svg>
                </button>           
            </li>
        </ul> 
    </div>
</section>



 <!-- Modal -->
 <div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <button class="modal__close-btn" data-modal-close>
          <svg class="modal__icon-close">
            <use href="./images/sprite.svg#icon-close"></use>
          </svg>
      </button>
      <p class="modal__title">We will be glad to see you</p>
      <div class="modal__map">
        <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.8663399464604!2d30.531895015730505!3d50.42496187947188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4d96f5139689b%3A0xa1f7c65300bebad1!2sGoIT!5e0!3m2!1suk!2sua!4v1631529237569!5m2!1suk!2sua" width="370" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
      <p class="modal__adress">Yevhen Konovalets Street, 36, Kyiv, 02000</p>
      <button class="modal_map-btn"><a  target="_blank" href="https://www.google.com/maps/place/GoIT/@50.4249619,30.531895,17z/data=!3m1!4b1!4m5!3m4!1s0x40d4d96f5139689b:0xa1f7c65300bebad1!8m2!3d50.4249597!4d30.5340916" class="modal_btn-text">Open in Google Maps</a></button>
    </div>   
  </div>