<footer class="footer">
  <div class="container">
    <div class="footer__text-box">
      <span class="footer__title footer__title--one"> homemade ice cream made </span>
      <span class="footer__title footer__title--two"> with passion </span>
    </div>
      <div class="social-box">
        <ul class="social-box__links">
          <li class="social-box__list">
          <a href="https://github.com/" target="_blank" class="social-box__link">
  
                <svg class="social-box__icon" width="32px" height="32px">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
          </a>
          </li>
          <li class="social-box__list">
          <a href="https://telegram.org/" target="_blank" class="social-box__link">
  
                <svg class="social-box__icon" width="32px" height="32px">
                <use href="./images/sprite.svg#icon-telegram"></use>
                </svg>
          </a>
          </li>
          <li class="social-box__list">
          <a href="https://www.facebook.com/" target="_blank" class="social-box__link">
  
                <svg class="social-box__icon" width="32px" height="32px">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
          </a>
          </li>
      </ul>
      </div>
    <div class="contact-box">
      <span class="contact-box__text">
        Feel free to contact 
      </span>
      <a href="tel:+610383766284" class="contact-box__phone">
        +61 (0) 383 766 284 
      </a>
    </div>
  </div>

  <div class="copyright-box">
    <p class="copyright-box__text">
      &copy 2019 - IceCream.
      All Rights Reserved.
    </p>
  </div>

</footer>