<footer class="footer">
  <div class="text-box">
    <span class="text-box__title-one"> homemade ice cream made </span>
    <span class="text-box__title-two"> with passion </span>
  </div>
    <div class="social-box">
      <ul class="social-box__links">
        <li class="social-box__list">
        <a href="" class="social-box__link">
            <svg class="social-box__icon">
            <use href="#"></use>
            </svg>
        </a>
        </li>
        <li class="social-box__list">
        <a href="" class="social-box__link">
            <svg class="social-box__icon">
            <use href="#"></use>
            </svg>
        </a>
        </li>
        <li class="social-box__list">
        <a href="" class="social-box__link">
            <svg class="social-box__icon">
            <use href="#"></use>
            </svg>
        </a>
        </li>
     </ul>
    </div>
  <div class="contact-box">
    <span class="contact-box__text">
      Feel free to contact 
    </span>
    <span class="contact-box__phone">
      +61 (0) 383 766 284 
    </span>
  </div>
  <div class="copyright-box">
    <p class="copyright-box__text">
      &copy 2019 - IceCream.
      All Rights Reserved.
    </p>
  </div>
   
</footer>
