<section class="gallery-section">

    <h2 class="hidden">Ice-cream's gallery</h2>

    <div class="container">
        <div class="container__first">
            <img srcset="./images/mobile1-1x.jpg 480w,./images/mobile1-2x.jpg 960w,
                         ./images/tablet1-1x.jpg 768w, ./images/tablet1-2x.jpg 1536w,
                         ./images/slice1-1x.jpg 1280w, ./images/slice1-2x.jpg 2560w"
            src="./images/mobile1-1x.jpg" class="container__image1" alt="мороженое в тарелке">
        </div>

        <div class="container__second">
            <img srcset="./images/mobile2-1x.jpg 480w, ./images/mobile2-2x.jpg 960w,
                         ./images/tablet2-1x.jpg 768w, ./images/tablet2-2x.jpg 1536w,
                         ./images/slice2-1x.jpg 1280w, ./images/slice2-2x.jpg 2560w"
            src="./images/mobile2-1x.jpg" class="container__image2" alt="мороженое рожок">

            <img srcset="./images/mobile3-1x.jpg 480w, ./images/mobile3-2x.jpg 960w,
                         ./images/tablet3-1x.jpg 768w, ./images/tablet3-2x.jpg 1536w,
                         ./images/slice3-1x.jpg 1280w, ./images/slice3-2x.jpg 2560w"
            src="./images/slice3-1x.jpg" class="container__image3" alt="мороженое на палочке">
        </div>

        <div class="container__third">
            <img srcset="./images/mobile4-1x.jpg 480w, ./images/mobile4-2x.jpg 960w,
                         ./images/tablet4-1x.jpg 768w, ./images/tablet4-2x.jpg 1536w,
                         ./images/slice4-1x.jpg 1280w, ./images/slice4-2x.jpg 2560w"
            src="./images/mobile4-1x.jpg" class="container__image4" alt="много рожков с мороженым">

            <img srcset="./images/mobile5-1x.jpg 480w, ./images/mobile5-2x.jpg 960w,
                         ./images/tablet5-1x.jpg 768w, ./images/tablet5-2x.jpg 1536w,
                         ./images/slice5-1x.jpg 1280w, ./images/slice5-2x.jpg 2560w"
            src="./images/mobile5-1x.jpg" class="container__image5" alt="девушка с мороженым">
        </div>

        <div class="container__fourth">
            <img srcset="./images/mobile6-1x.jpg 480w, ./images/mobile6-2x.jpg 960w,
                         ./images/tablet6-1x.jpg 768w, ./images/tablet6-2x.jpg 1536w,
                         ./images/slice6-1x.jpg 1280w, ./images/slice6-2x.jpg 2560w" 
            src="./images/mobile6-1x.jpg" class="container__image6" alt="мороженое с ягодами">

            <img srcset="./images/mobile7-1x.jpg 480w, ./images/mobile7-2x.jpg 960w,
                         ./images/tablet7-1x.jpg 768w, ./images/tablet7-2x.jpg 1536w,
                         ./images/slice7-1x.jpg 1280w, ./images/slice7-2x.jpg 2560w"
            src="./images/mobile7-1x.jpg" class="container__image7" alt="рожок с мороженым в руке">
        </div>

        <div class="container__fifth">
            <img srcset="./images/mobile8-1x.jpg 480w, ./images/mobile8-2x.jpg 960w,
                         ./images/tablet8-1x.jpg 768w, ./images/tablet8-2x.jpg 1536w,
                         ./images/slice8-1x.jpg 1280w, ./images/slice8-2x.jpg 2560w"
            src="./images/mobile8-1x.jpg" class="container__image8" alt="собачка лижет мороженое">

            <img srcset="./images/mobile9-1x.jpg 480w, ./images/mobile9-2x.jpg 960w,
                         ./images/tablet9-1x.jpg 768w, ./images/tablet9-2x.jpg 1536w,
                         ./images/slice9-1x.jpg 1280w, ./images/slice9-2x.jpg 2560w"
            src="./images/mobile9-1x.jpg" class="container__image9" alt="мороженое в стакане">
        </div>

        <div class="container__sixth">
            <img srcset="./images/mobile10-1x.jpg 480w, ./images/mobile10-2x.jpg 960w,
                         ./images/tablet10-1x.jpg 768w, ./images/tablet10-2x.jpg 1536w,
                         ./images/slice10-1x.jpg 1280w, ./images/slice10-2x.jpg 2560w"
            src="./images/mobile10-1x.jpg" class="container__image10" alt="мороженое в чашке">
        </div>

        <!-- 2 вариант для цельного изображения -->

<!--    
        <picture>

        <source srcset="./images/gallery-480w-1x.webp 480w,
                     ./images/gallery-960w-2x.webp 960w,
                     ./images/gallery-768w-1x.webp 768w,
                     ./images/gallery-1536w-2x.webp 1536w,
                     ./images/gallery-1280w-1x.webp 1280w,
                     ./images/gallery-2560w-2x.webp 2560w" type="image/webp">
                     

        <img srcset="./images/gallery-480-1x.jpg 480w,
                     ./images/gallery-960-2x.jpg 960w,
                     ./images/gallery-768-1x.jpg 768w,
                     ./images/gallery-1536-2x.jpg 1536w,
                     ./images/gallery-1280-1x.jpg 1280w,
                     ./images/gallery-2560-2x.jpg 2560w"
              
        src="./images/gallery-480-1x.jpg"
            alt="много изображений мороженого">

            </picture> -->
    </div>
</section>