<section class="gallery-section">

    <h2 class="hidden">Ice-cream's gallery</h2>

    <div class="container">

        <picture>

        <source srcset="./images/gallery-480w-1x.webp 480w,
                     ./images/gallery-960w-2x.webp 960w,
                     ./images/gallery-768w-1x.webp 768w,
                     ./images/gallery-1536w-2x.webp 1536w,
                     ./images/gallery-1280w-1x.webp 1280w,
                     ./images/gallery-2560w-2x.webp 2560w" type="image/webp">
                     

<!-- 
        <source srcset="./images/slice1-1x.jpg 1280w, ./images/slice1-2x.jpg 2560w,
                      ./images/slice2-1x.jpg 1280w, ./images/slice2-2x.jpg 2560w,
                     ./images/slice3-1x.jpg 1280w, ./images/slice3-2x.jpg 2560w,
                     ./images/slice4-1x.jpg 1280w, ./images/slice4-2x.jpg 2560w,
                     ./images/slice5-1x.jpg 1280w, ./images/slice5-2x.jpg 2560w,
                     ./images/slice6-1x.jpg 1280w, ./images/slice6-2x.jpg 2560w,
                     ./images/slice7-1x.jpg 1280w, ./images/slice7-2x.jpg 2560w,
                     ./images/slice8-1x.jpg 1280w, ./images/slice8-2x.jpg 2560w,
                     ./images/slice9-1x.jpg 1280w, ./images/slice9-2x.jpg 2560w,
                     ./images/slice10-1x.jpg 1280w, ./images/slice10-2x.jpg 2560w" media="(min-width: 1280px)"> -->
                     

        <img srcset="./images/gallery-480-1x.jpg 480w,
                     ./images/gallery-960-2x.jpg 960w,
                     ./images/gallery-768-1x.jpg 768w,
                     ./images/gallery-1536-2x.jpg 1536w,
                     ./images/gallery-1280-1x.jpg 1280w,
                     ./images/gallery-2560-2x.jpg 2560w"
              
        src="./images/gallery-480-1x.jpg"
            alt="много изображений мороженого">

            </picture>
    </div>
</section>