<!-- Хедер -->
<header class="header container">
    <div class="header-holder">
        <!-- Логотип -->

            <a href="./index.html" class="logo"> 
                <svg class="header-logo" width="199" height="50">
                    <use href="./images/sprite.svg#icon-icecream-1"></use>
                    </svg> </a>  

        <!-- Кнопка бургера -->

        <button type="button"

            class="burger js-open-menu"
            aria-expanded="false"
            aria-controls="menu">

            <svg class="icon-menu" width="20" height="12">
            <use href="./images/sprite.svg#icon-Burger"></use>
            </svg>
           
        </button>

        <!-- Меню -->

        <div class="nav-tools  js-menu-container" id="menu">

            <!-- Кнопка закриття мобильного меню -->
            <button type="button" class="nav-tools__close-button js-close-menu">
                <svg class="icon-close" width="14" height="14">
                    <use href="./images/sprite.svg#icon-close"></use>
                </svg>
            </button>

            <!-- Кнопка навигаціцї та відкриття модалки -->

            <button type="button" class="nav-tools__button">
            Buy now <svg class="icon-buy" width="5" height="8">
                <use href="./images/sprite.svg#icon-Vector-1"></use>
                </svg>
            </button>

            <!-- Навігація сайту -->

            <nav class="navigation">

                <ul class="navigation-list">
                    <li class="navigation__item"><a class="navigation__link navigation__link--current">Home</a></li>
                    <li class="navigation__item"><a class="navigation__link">About us</a></li>
                    <li class="navigation__item"><a class="navigation__link">How it’s made?</a></li>
                    <li class="navigation__item"><a class="navigation__link">Our products</a></li>
                    <li class="navigation__item"><a class="navigation__link">Contact</a></li>
                </ul>

            </nav>

        </div>

    </div>

    <!-- Секція герой, банер, кнопки, зображення, лічильник, -->

    <section class="hero">

        <!-- Картинка Галі & Морозиво-->
        <!-- <div class="box-image"></div> -->
        <svg class="icon-circle" width="346" height="344">
            <use href="./images/sprite.svg#icon-Ellipse-3-1"></use>
            </svg>
        
        <a href="#" class="hero__link--sootasty"></a>

        <a href="#" class="hero__link--icecream">
            <picture >
                <source media="(max-width: 767px)" srcset='./images/hero-header/ice-cream480.png 1x, ./images/hero-header/ice-cream480@2x.png 2x'>
                <source media="(min-width: 768px)" srcset='./images/hero-header/ice-cream768.png 1x, ./images/hero-header/ice-cream768@2x.png 2x'>
                <source media="(min-width: 1200px)" srcset='./images/hero-header/ice-cream1280.png 1x, ./images/hero-header/ice-cream1280@2x.png 2x'>
                <img src="./images/hero-header/ice-cream.png" alt="морозиво">
            </picture>
        </a>

        <div class="caption">
            <!-- Заголовок сайту -->
                <h1 class="caption__title">ice cream <br> made with <br>
            <span class="caption__span">passion</span>
                </h1>
            <div class="button-hold">
            <!-- Кнопки якорні секцій -->
                <button class="caption__button-1">Products</button>
                <button class="caption__button-2">How it’s made?</button>
            </div>
        </div>
            
        <!-- Лічильник продаж та доставок сайту -->

        <div class="counter-sale">

            <ul class="counter-sale__list">

                <li class="counter-sale__item">

                    <svg class="counter-sale__icon" width="16" height="16">
                        <use href="#"></use>
                    </svg>

                        16

                    <br><span class="counter-sale__text">cafes</span>
                </li>

                <li class="counter-sale__item">

                    <svg class="counter-sale__icon" width="16" height="16">
                        <use href="#"></use>
                    </svg>

                        24

                    <br><span class="counter-sale__text">food trucks</span>
                </li>
            </ul>  

        </div>

        <!-- Секція з молоком -->

        <div class="big-eco">

        <a href="#" class="big-eco__link"><img src="#" alt="#" class="big-eco__image"></a> 
    
            <div>
                <p class="big-eco__p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                </p>
                <button class="big-eco__button">big-eco</button>
            </div>
            
        </div>

    </section>
</header>
