<!-- Хедер -->
<header class="header">
    <!-- Логотип -->

        <a href="./index.html" class="logo">ЛОГОТИП</a>  

    <!-- Кнопка бургера -->

    <button type="button"

        class="js-open-menu"
        aria-expanded="false"
        aria-controls="menu">

        <svg class="icon-close" width="20" height="12">
        <use href="#"></use>
        </svg>
        кнопка бургер
    </button>

    <!-- Меню -->

    <div class="nav-tools  js-menu-container" id="menu">

        <!-- Кнопка закриття мобильного меню -->
        <button type="button" class="nav-tools__menu-button js-close-menu">
            <svg class="icon-close" width="14" height="14">
                <use href="#"></use>
            </svg>
            кнопка закриття
        </button>

        <!-- Кнопка навигаціцї та відкриття модалки -->

        <button type="button" class="nav-tools__button">
        Buy now
        </button>

        <!-- Навігація сайту -->

        <nav class="navigation">

            <ul class="navigation-list">
                <li class="navigation__item"><a class="navigation__link navigation__link--current">Home</a></li>
                <li class="navigation__item"><a class="navigation__link">About us</a></li>
                <li class="navigation__item"><a class="navigation__link">How it’s made?</a></li>
                <li class="navigation__item"><a class="navigation__link">Our products</a></li>
                <li class="navigation__item"><a class="navigation__link">Contact</a></li>
            </ul>

        </nav>

    </div>

    <!-- Секція герой, банер, кнопки, зображення, лічильник, -->

    <section class="hero">

        <!-- Картинка Галі-->

        <a href="#" class="Hero__link">SOOOOOO TASTY! <img src="#" alt="#" class="hero__image"></a>

        <!-- Каартинка Морозиво і круг-->

        <a href="#" Hero__link>
            <img src="#" alt="#" class="hero__image"> круг
            <img src="#" alt="#" class="hero__image">Морозиво
        </a>
            
        <!-- Заголовок сайту -->
        <h1 class="hero__title">ice cream <br> made with <br>
        <span>passion</span>
        </h1>

        <div class="Main-title">
        <!-- Кнопки якорні секцій -->
            <button>Products</button>
            <button>How it’s made?</button>
        </div>
            
        <!-- Лічильник продаж та доставок сайту -->

        <div class="counter-sale">

            <ul class="counter-sale__list">

                <li class="counter-sale__item">

                    <svg class="counter-sale__icon" width="16" height="16">
                        <use href="#"></use>
                    </svg>

                        16

                    <br><span class="counter-sale__text">cafes</span>
                </li>

                <li class="counter-sale__item">

                    <svg class="counter-sale__icon" width="16" height="16">
                        <use href="#"></use>
                    </svg>

                        24

                    <br><span class="counter-sale__text">food trucks</span>
                </li>
            </ul>  

        </div>

        <!-- Секція з молоком -->

        <div class="big-eco">

        <a href="#" class="big-eco__link"><img src="#" alt="#" class="big-eco__image"></a> 
    
            <div>
                <p class="big-eco__p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                </p>
                <button class="big-eco__button">big-eco</button>
            </div>
            
        </div>

    </section>
</header>
