<article class="container">
  <h3 class="hide">Customer Revievs</h3>
  <div class="reviews swiper">
    <div class="reviews__customer swiper-wrapper">
      <div class="reviews__card swiper-slide">
        <div class="reviews__img">
          <img src="" alt="" />
        </div>
        <p class="reviews__description">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <p class="reviews__info">Emily, Los Angeles</p>
      </div>
      <div class="reviews__card swiper-slide">
        <div class="reviews__img">
          <img src="" alt="" />
        </div>
        <p class="reviews__description">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <p class="reviews__info">Emily, Los Angeles</p>
      </div>
      <div class="reviews__card swiper-slide">
        <div class="reviews__img">
          <img src="" alt="" />
        </div>
        <p class="reviews__description">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <p class="reviews__info">Emily, Los Angeles</p>
      </div>
    </div>
    <div class="reviews__nav swiper-pagination"></div>
  </div>
</article>
