<article class="container" id="customer-reviews">
  <h3 class="hidden">Customer Revievs</h3>
  <div class="reviews swiper">
    <ul class="reviews__customer swiper-wrapper">
      <li class="reviews__card swiper-slide">
        <img class="reviews__img" src="" alt="" />
        <div class="reviews__description-wrapper">
          <p class="reviews__description">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="reviews__info">Emily, Los Angeles</p>
      </li>
      <li class="reviews__card swiper-slide">
        <img class="reviews__img" src="" alt="" />
        <div class="reviews__description-wrapper">
          <p class="reviews__description">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="reviews__info">Agata, California</p>
      </li>
      <li class="reviews__card swiper-slide">
        <img class="reviews__img" src="" alt="" />
        <div class="reviews__description-wrapper">
          <p class="reviews__description">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="reviews__info">Mila, New York City</p>
      </li>
    </ul>
    <div class="swiper-pagination"></div>
  </div>
</article>
