<section class="section-contacts">
    <div class="conteiner">
        <h2 class="section-contacts__title">Наши представительства</h2>
        <ul class="section-contacts__cart-list">
            <li class="section-contacts__item">
               <div class="section-contacts__text">
                    <button class="section-contacts__btn">cafe</button>
                    <h2>Chicago</h2>
                    <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
               </div>
               <div class="section-contacts__schedule">
                   <h2>Monday - Friday</h2>
                   <span>06:00 AM - 10:00 PM</span>
                   <h2>Saturday - Sunday</h2>
                   <span>08:00 AM - 16:00 PM</span>
               </div>
               <div class="section-contacts__contacts">
                   <a href="tel:+61038766284">+61(0) 383 766 284</a>
                   <a href="mailto:noreply@envato.com"class="section-contacts__link">noreply@envato.com</a>
               </div>

            </li>
            <li class="section-contacts__item">
                <div class="section-contacts__text">
                     <button class="section-contacts__btn">FOODTRUCK</button>
                     <h2>Los Angeles</h2>
                     <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="section-contacts__schedule">
                    <h2>Monday - Friday</h2>
                    <span>06:00 AM - 10:00 PM</span>
                    <h2>Saturday - Sunday</h2>
                    <span>08:00 AM - 16:00 PM</span>
                </div>
                <div class="section-contacts__contacts">
                    <a href="tel:+61038766284">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com"class="section-contacts__link">noreply@envato.com</a>
                </div>
 
             </li>
             <li class="section-contacts__item">
                <div class="section-contacts__text">
                     <button class="section-contacts__btn">cafe</button>
                     <h2>New York</h2>
                     <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="section-contacts__schedule">
                    <h2>Monday - Friday</h2>
                    <span>06:00 AM - 10:00 PM</span>
                    <h2>Saturday - Sunday</h2>
                    <span>08:00 AM - 16:00 PM</span>
                </div>
                <div class="section-contacts__contacts">
                    <a href="tel:+61038766284">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com"class="section-contacts__link">noreply@envato.com</a>
                </div>
             </li>
        </ul>
        <ul class="section-contact__btn-list">
            <li class="section-contact__btn"><button>Our Locations</button></li>
            <li class="section-contact__btn"><button>Franchise</button></li>
        </ul>
    </div>
</section>