<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <article>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slide-l">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo numquam inventore
              illum voluptatum veritatis saepe odit sit possimus laudantium ratione optio iste
              aspernatur deserunt, enim vitae, deleniti iure. Laborum, eveniet.
            </p>
          </div>
          <div class="swiper-slide swiper-slide-m">
            <p>
              illum voluptatum veritatis saepe odit sit possimus laudantium ratione optio iste
              aspernatur deserunt, enim vitae, deleniti iure. Laborum, eveniet.
            </p>
          </div>
          <div class="swiper-slide swiper-slide-s">
            <p>
              voluptatum veritatis saepe odit sit io iste aspernatur deserunt, enim vitae, deleniti
              iure. Laborum, eveniet.
            </p>
          </div>
          ...
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>
      </div>
    </article>
  </body>
</html>
